
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <script src="https://kit.fontawesome.com/949563e343.js" crossorigin="anonymous"></script>

  <title> olympic Sports Analysis </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
<link href="/static/img/favicon.png" rel="icon">
<link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="/static/vendor/aos/aos.css" rel="stylesheet">
<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="/static/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="/static/css/style.css" rel="stylesheet">


  <!-- =======================================================
  * Template Name: Vesperr
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="index.html">Olympic Sports <span>Analysis</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
      </div>

      <nav id="navbar" class="navbar" aria-label="navigation">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#Dashboard">Dashboard</a></li>
          <li><a class="nav-link scrollto" href="#Report">Report</a></li>
          <li><a class="nav-link scrollto" href="#Story">Story</a></li>
         
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">WELCOME TO Olympic Sports  <span>Analysis</span></h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Good Analysis For Good Performance</h2>
          <div data-aos="fade-up" data-aos-delay="800">
            <a href="#Dashboard" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
        
      </div>
    </div>

  </section><!-- End Hero -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>About Us</h2>
        </div>

        
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start" data-aos="fade-right" data-aos-delay="150">
            <img src="assets/img/count_side.png" alt="" class="img-fluid">
          </div>

          <div class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0" data-aos="fade-left" data-aos-delay="300">
            <div class="content d-flex flex-column justify-content-center">
              <div class="row">
                <p>
                  This application is a great analytics tool for Sports Analysis.
                </p>
                <a href="#contact" class="btn-learn-more">Learn More</a>
                
              </div>
              
              <div class="col">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-journal-richtext"></i>
                    <h5><strong>BETTER SPORTS INSIGHTS </strong></h5>
                    <p> You'll get better Insights about different Sports and the opprtunities that can help you in your career in sports</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-award"></i>
                    <h5><strong>ANALYTICS TOOL </strong></h5>
                    
                  </div>
                </div>
              
              </div>
            </div><!-- End .content-->
          </div>
        </div>
      </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="Dashboard" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Dashboard</h2>
          <h4> <iframe src="https://us3.ca.analytics.ibm.com/bi/?perspective=dashboard&amp;pathRef=.my_folders%2FOlympic%2BOverview%2BDashboard&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;mode=dashboard&amp;subView=model000001881ec0da3a_00000000" width="1320" height="800" frameborder="1" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe></h4>
          
        </div>
        

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="Report" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Report</h2>
          <h4> <iframe src="https://us3.ca.analytics.ibm.com/bi/?pathRef=.my_folders%2FOlympic%2BReport&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=run&amp;format=HTML&amp;prompt=false" width="1320" height="800" frameborder="1" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe></h4>
          
        </div>
        


      </div>
    </section><!-- End Portfolio Section -->
    <!-- ======= Portfolio Section ======= -->
    <section id="Story" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Story</h2>
          <h4> <iframe src="https://us3.ca.analytics.ibm.com/bi/?perspective=story&amp;pathRef=.my_folders%2FOlympic%2BStory%2FOlympic%2BStory%2B1&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;sceneId=model0000018820b74770_00000002&amp;sceneTime=0" width="1320" height="800" frameborder="1" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe></h4>
          
        </div>


      </div>
    </section><!-- End Portfolio Section -->


    

    

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact Us</h2>
        </div>

        <div class="row">

          <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="contact-about">
              <h3>Aalsis<span>Sports</span></h3>
            </div>
            <div class="info">
              <div>
                &nbsp;
                <a href="#" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
                <p> ARUN M </p>
              </div>

              <div>
                <a href="#" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
                <p>BHADRIPRASATH BJ</p>
              </div>

              <div>
                <a href="#" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
                <p>DHANASEKARAN B</p>
              </div>

              <div>
                <a href="#" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
                <p>DHARSHINIPRIYA V</p>
              </div>

            </div>
          </div>

          <div class="col-lg-6 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="info">
              <div>
                <i class="ri-map-pin-line"></i>
                <p>KNOWLEDGE INSTITUTE OF TECHNOLOGY<br>SALEM - 637504</p>
              </div>

              <div>
                <i class="ri-mail-send-line"></i>
                <p>2k20cse029@kiot.ac.in</p>
              </div>

              <div>
                <i class="ri-phone-line"></i>
                <p>+91 8300805854</p>
              </div>

            </div>
          </div>

          

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>HireSense</strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/vesperr-free-bootstrap-template/ -->
            <p>Designed by Sports<span>Sense</span> - Team</p>
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0" aria-label="navigation">
            <a href="#about" class="scrollto bjlv">About</a>
            <a href="#Dashboard" class="scrollto bjlv">Dashboard</a>
            <a href="#Report" class="scrollto bjlv">Report</a>
            <a href="#Story" class="scrollto bjlv">Story</a>
            <a href="#team" class="scrollto bjlv">Team</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#hero" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/static/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/static/vendor/aos/aos.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/static/js/main.js"></script>


</body>

</html>